/*Common*/

:root {
  --main-bg: #fff;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-font-size: 14px;
  --logo-font-size: 26px;
  --logo-font-weight: 700;
  --logo-letter-spacing: 0.78px;
  --small-letter-spacing: 0.48px;

  --main-color: #212121;
  --support-color: #2196f3;
  --hero-button-hover-color: #188ce8;
  --text-color: #757575;
  --logo-header-hover-color: #000;
  --footer-hero-color: #2f303a;
  --logo-color: #fff;
  --hero-text-color: #fff;
  --team-section-bg-color: #f5f4fa;
  --tile-border-color: #eee;
  --header-border-color: #ececec;
  --benefits-icon-bg-color: #F5F4FA;
}

body {
  background-color: var(--main-bg);
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: var(--primary-font-size);
}

header {
  background-color: var(--main-bg);
  border-bottom: 1px solid var(--header-border-color);
}

img {
  display: block;
}

.logo {
  font-family: var(--secondary-font);
  font-size: var(--logo-font-size);
  font-weight: var(--logo-font-weight);
  letter-spacing: var(--logo-letter-spacing);
  color: var(--logo-header-hover-color);
}

.logo__web {
  color: var(--support-color);
}

.logo:hover,
.logo:focus {
  color: var(--logo-header-hover-color);
  cursor: pointer;
}

.header__link {
  color: var(--text-color);
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.nav__link {
  color: var(--main-color);
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.a__active {
  color: var(--support-color);
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 300ms;
  line-height: inherit;
  font-size: inherit;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 300ms;
  cursor: pointer;
  line-height: inherit;
  font-size: inherit;
}

a:hover,
a:focus {
  color: var(--support-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer {
  background-color: var(--footer-hero-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo__footer {
  color: var(--logo-color);
}

.logo__footer:hover,
.logo__footer:focus {
  color: var(--logo-color);
}

address {
  text-decoration: none;
}

.footer__address li:not(:first-child) {
  margin-top: 12px;
}

.footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.42px;
}

.footer__googlemaps {
  color: var(--logo-color);
}

.hidden__elem {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.flex__container {
  display: flex;
  align-items: baseline;
}

.flex__container--hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 0px;
}

.flex__container__nav__item:not(:first-child) {
  margin-left: 50px;
}

.flex__container__contact__item:not(:first-child) {
  margin-left: 40px;
}

.flex__container__spec__item:not(:first-child) {
  margin-left: 30px;
}

.grid__container {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 50px;
  width: fit-content;
  gap: 30px;
}

.header__nav {
  margin-left: 93px;
}

.logo__header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header__contact {
  margin-left: auto;
}

.header__contact > li:not(:first-child) {
  margin-left: 40px;
}

.footer__info {
  margin-right: 94px;
}

.footer__contact__list > li:not(:last-child) {
  margin-bottom: 12px;
}

.footer__address {
  margin-top: 28px;
}

.footer__socials {
  color: #fff;
}

.footer__socials_header {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer__socials_list {
  display: flex;
  gap: 10px;
}

.footer__socials_list--item {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, .1);
}

.footer__socials_list--item > svg {
  margin-top: 11px;
  margin-left: 12px;
}

.footer__socials_list--item:hover,
.footer__socials_list--item:focus {
  background-color: var(--hero-button-hover-color);
  transition: background-color 300ms;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/*-----------------------------------------*/

/*Index*/

.hero {
  background-color: var(--footer-hero-color);
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/index/heroBackground.jpg");
  padding: 0;
}

.hero__title {
  color: var(--hero-text-color);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  max-width: 696px;
}

.hero__btn {
  color: var(--hero-text-color);
  background-color: var(--support-color);
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: var(--hero-button-hover-color);
}

.section__spec {
  margin-left: auto;
  margin-right: auto;
}

.section__spec.flex__container {
  align-items: flex-start;
}

.benefits__icon {
  background-color: var(--benefits-icon-bg-color);
  padding: 25px 80px;
  max-width: 270px;
  max-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.title__l {
  color: var(--main-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: inherit;
  letter-spacing: 0.42px;
}

.p__spec {
  color: var(--text-color);
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.what__we__do {
  margin-left: auto;
  margin-right: auto;
}

.what__we__do_title {
  margin-bottom: 50px;
}

.flex__container__what__we__do > li:not(:first-child) {
  margin-left: 30px;
}

.title__heading {
  color: var(--main-color);
  font-weight: 700;
  font-size: 36px;
  font-style: inherit;
  letter-spacing: 1.08px;
  text-align: center;
}

.section__team {
  background-color: var(--team-section-bg-color);
}

.benefits {
  padding-bottom: 0;
}

.benefits h3 {
  margin-bottom: 10px;
}

.list__team {
  margin-top: 50px;
}

.list__team > li:not(:first-child) {
  margin-left: 30px;
}

.card__team {
  background-color: var(--main-bg);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding-bottom: 30px;
}

.title__team {
  color: var(--main-color);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: var(--small-letter-spacing);
  margin-top: 30px;
}

.p__team {
  font-size: 16px;
  letter-spacing: var(--small-letter-spacing);
  color: var(--text-color);
  margin-top: 10px;
}

.team__socials {
  margin-top: 16px;
  gap: 10px;
  margin-left: 32px;
}

.team__socials_item {
  display: inline-block;
  align-content: center;
  border-radius: 50%;
  color: #AFB1B8;
  width: 44px;
  height: 44px;
}

.team__socials_item:not(:last-child) {
    margin-right: 10px;
}

.team__socials_item > svg {
  margin-top: 11px;
}

.team__socials_item:hover,
.team__socials_item:focus {
  background: var(--hero-button-hover-color);
  color: #fff;
  transition: background-color 300ms;
  transition: color 300ms;
}

.clients__list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__list_item {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border-color: #AFB1B8;
  color: #AFB1B8;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients__list_item:hover,
.clients__list_item:focus {
  border-color: var(--hero-button-hover-color);
  transition: color 300ms;
  transition: background 300ms;
}

/*-----------------------------------------*/

/*Portfolio*/

.filters__area {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex__container__filters > li:not(:first-child) {
  margin-left: 8px;
}

.btn__filter {
  color: var(--main-color);
  background-color: var(--team-section-bg-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: var(--small-letter-spacing);
  padding: 6px 22px;
}

.btn__filter:hover,
.btn__filter:focus {
  color: var(--main-bg);
  background-color: var(--support-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.tile {
  border: 1px solid var(--tile-border-color);
  background: var(--main-bg);
  width: fit-content;
box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12); 
}

.tile div {
  padding: 20px 24px;
}

.tile__title {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}

.tile__p {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: var(--small-letter-spacing);
}
/*-----------------------------------------*/
